# flyctl launch added from .gitignore
# Python
**/__pycache__
**/.venv
**/.env

# Oifey
**/.oifey
**/token.txt
**/foo.py
**/emoji_dump.json

**/*.bat
**/*.sh
fly.toml

scraper

.github
docker-compose.yaml
_QUICKSTART.txt
LICENSE
PRIVACY.md
README.md
TERMS.md
